
.email-block {
    background-color: lightgray;
    border: 3px solid lightblue;
    margin: 10px;
}

.nav-col{
    background-color: darkgray;
}

.email-col {
    background-color: lightgoldenrodyellow;
}

.detail-col {
    background-color: antiquewhite;
}

@media screen and (min-width:992px) {
    .navbar, .navbar-nav, .nav-list, .navbar-expand-lg .navbar-nav{
        flex-direction: column;
    }
}

.nav-col {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

@media screen and (max-width:766px) {
    .nav-col {
        display: block;
    }
}