
.email-block {
    background-color: lightgray;
    border: 3px solid lightblue;
    margin: 10px;
}

.nav-col{
    background-color: darkgray;
}

.email-col {
    background-color: lightgoldenrodyellow;
}

.detail-col {
    background-color: antiquewhite;
}